.fc-daygrid-event {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
  margin-top: 3px !important;
}

.fc-event-main {
  padding: 0 !important;
}

.fc-daygrid-event-harness {
  margin-bottom: 4px;
}