@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  box-sizing:border-box;
}

html,
body{
  width:100%;
  max-width:100%;
  overflow-x:hidden;
}

body{
  margin:0;
  background:var(--background);
  color:var(--foreground);
  font-family:Arial,Helvetica,sans-serif;
}

.booking-event{
  border-radius:999px !important;
  overflow:hidden;
}

.booking-event .fc-event-main{
  border-radius:999px;
}


/* =======================
   FULLCALENDAR
======================= */

.fc{
  width:100%;
}

.fc-toolbar{
  flex-wrap:wrap;
  gap:.5rem;
}

.fc-toolbar-title{
  font-size:1.4rem !important;
  font-weight:700;
}

.fc-col-header-cell{
  font-size:14px;
  font-weight:700;
}

.fc-daygrid-day-number{
  font-size:15px;
  font-weight:700;
}

.fc-daygrid-event{
  margin:2px;
}

@media(max-width:768px){

  .fc-toolbar{
    justify-content:center;
  }

  .fc-toolbar-title{
    font-size:1.1rem !important;
  }

  .fc-col-header-cell{
    font-size:12px;
  }

  .fc-daygrid-day-number{
    font-size:13px;
  }

  .fc-daygrid-day{
    min-height:75px;
  }

}